.PortfolioDetails{
    display:flex;
    flex-direction: row;
    height: 100%;
}

.PortfolioDetails__tab{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.PortfolioDetails__tab:nth-child(2){
    border-right: 4px solid white;
    border-left: 4px solid white;
    overflow-y:  hidden;
}

.PortfolioDetails__tab:nth-child(3){
    width: 50%;
}

.PortfolioDetails__select{
    padding: 10px;
    flex-grow: 2;
}

.PortfolioDetails__number{
    margin: 0;
    font-size: 80px;
    line-height: 93%;
}

.PortfolioDetails__titlecontainer{
    border-bottom: 4px solid white;
    padding: 8px;
}

.PortfolioDetails__header{
    margin: 0;
}

.PortfolioDetails__text{
    margin: 0;
    display: block;
}

.PortfolioDetails__textcontainer{
    padding: 10px;
    overflow-y: scroll;
}

.PortfolioDetails__videoDetails{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.PortfolioDetails__altText{
    cursor: grab;
}

.PortfolioDetails__detailsContainer{
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.PortfolioDetails__switching{
    position: absolute;
    margin: 0;
    z-index: -1;
    text-align: center;
    font-size: 64px;
    width: 100%;
}