.Portfolio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    font-family: "DotGothic16", sans-serif;
}

.Portfolio__details{
    min-height: 40%;
    flex-grow: 1;
    width: 100%;
}

.Portfolio__videos{
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    border-top: 1px solid white;
    overflow-x: hidden;
}

.Portfolio__videoBar{
    width: 100%;
    height: 8px;
    background-color: white;
}