@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=DotGothic16&display=swap');
body{
  margin: 0;
}
.App{
  height: 100vh;
  max-width: 2556px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 39, 167);
  overflow: hidden;

}


.App__sidebar{
  width: 8px;
  background-color: white;
}

.App__main{
  width: 25%;
}

.App__logo{
  width: 25%;
  margin: 250px 0px 50px 50px;

}

.App__nav{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
  gap: 25px;
}

.App__nav_item{
  font-family: "DotGothic16", sans-serif;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 6px;
  border-style: none;
}

.App__content{
  display:flex;
  justify-content: center;
  flex: 1;
}

.active{
  animation: flash 0.3s; 
  transform: translateY(20px);
  transition: 0.2s;
  color: red;
}

@keyframes flash {
  0% {
    color:white;
  }
  10%{
    color: aqua
  }
  20%{
    color: white
  }
  40%{
    color: aqua
  }
  60%{
    color: white;
  }
  80%{
    color: aqua
  }
  90%{
    color: white;
  }
  100%{
    color: white;

  }
}